<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="/styles/docs.css">
    <title>Instrucciones - Documentación</title>
  </head>
  <body>
    <div class="docs-container">
        <div class="jumbotron jumbotron-fluid">
            <div class="container">
                <h1 class="display-4">Bienvenid@!</h1>
                <p class="lead">Aquí encontrará un set de instrucciones para las diferentes herramientas de la Interfaz Administrativa.<br> Hoy es Lunes 13 de Enero, 2020.</p>
                <button type="button" class="btn btn-outline-info"><a href="dashboard.html" style="text-decoration: none; color: darkblue;">Ir al Dashboard</a></button>
            </div>
        </div>
        <div class="container">
            <ul class="nav nav-tabs" id="myTab" role="tablist">
                <!--li class="nav-item">
                  <a class="nav-link active" id="reserve-tab" data-toggle="tab" href="#reserve" role="tab" aria-controls="reserve" aria-selected="true">Reservas (-)</a>
                </!--li>
                <li class="nav-item">
                  <a class="nav-link" id="comunication-tab" data-toggle="tab" href="#comunication" role="tab" aria-controls="comunication" aria-selected="false">Comunicaciones (-)</a>
                </li-->
                <li class="nav-item">
                    <a class="nav-link active" id="congressman-tab" data-toggle="tab" href="#congressman" role="tab" aria-controls="congressman" aria-selected="false">Conferencistas</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="congress-tab" data-toggle="tab" href="#congress" role="tab" aria-controls="congress" aria-selected="false">Congresos</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="reports-tab" data-toggle="tab" href="#event" role="tab" aria-controls="event" aria-selected="false">Eventos</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="sedes-tab" data-toggle="tab" href="#sedes" role="tab" aria-controls="sedes" aria-selected="false">Sedes</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="user-tab" data-toggle="tab" href="#user" role="tab" aria-controls="user" aria-selected="false">Usuarios</a>
                </li>
              </ul>
              <div class="tab-content" id="myTabContent">
                <div class="tab-pane fade show active" id="congressman" role="tabpanel" aria-labelledby="congress-tab">
                    <div class="docs-panel">
                        <h2><ion-icon name="radio-button-on"></ion-icon> Panel de Creación de Conferencistas</h2>
                        <ol class="list-group list-group-flush">
                            <li class="list-group-item">1. Seleccione el boton de Accesar para rellenar los campos de informacion. Ej. =>
                                <button class="btn btn-outline-info">Accesar</button>
                            </li>
                            <li class="list-group-item">2. Llene los siguientes campos: 
                                <img src="./assets/conferencista.png" class="card-img-top" alt="img">
                            </li>
                            <li class="list-group-item">3. Confirmar que todos los campos posean la información correcta.</li>
                            <li class="list-group-item">4. Presionar el botón de Enviar. Ej. => <button class="btn btn-outline-info">Enviar</button></li>
                        </ol>
                    </div>
                </div>
                <div class="tab-pane fade" id="congress" role="tabpanel" aria-labelledby="congress-tab">
                    <div class="docs-panel">
                        <h2><ion-icon name="radio-button-on"></ion-icon> Panel de Creación de Eventos</h2>
                        <ol class="list-group list-group-flush">
                            <li class="list-group-item">1. Seleccione el boton de Accesar para rellenar los campos de informacion. Ej. =>
                                <button class="btn btn-outline-info">Accesar</button>
                            </li>
                            <li class="list-group-item">2. Llene los siguientes campos: 
                                <img src="./assets/congreso.png" class="card-img-top" alt="img">
                            </li>
                            <li class="list-group-item">3. Confirmar que todos los campos posean la información correcta.</li>
                            <li class="list-group-item">4. Seleccionar las opciones preferidas de los dropdown.</li>
                            <li class="list-group-item">5. Presionar el botón de Enviar. Ej. => <button class="btn btn-outline-info">Enviar</button></li>
                        </ol>
                    </div>
                </div>
                <div class="tab-pane fade" id="event" role="tabpanel" aria-labelledby="event-tab">
                    <div class="docs-panel">
                        <h2><ion-icon name="radio-button-on"></ion-icon> Panel de Creación de Actividades</h2>
                        <ol class="list-group list-group-flush">
                            <li class="list-group-item">1. Seleccione el boton de Accesar para rellenar los campos de informacion. Ej. =>
                                <button class="btn btn-outline-info">Accesar</button>
                            </li>
                            <li class="list-group-item">2. Llene los siguientes campos: 
                                <img src="./assets/eventos.png" class="card-img-top" alt="img">
                            </li>
                            <li class="list-group-item">3. Confirmar que todas las fechas esten correctas.</li>
                            <li class="list-group-item">4. Asegurarse de completar los campos obligatorios.</li>
                            <li class="list-group-item">5. Presionar el botón de Enviar. Ej. => <button class="btn btn-outline-info">Enviar</button></li>
                        </ol>
                    </div>
                </div>
                <div class="tab-pane fade" id="sedes" role="tabpanel" aria-labelledby="sedes-tab">
                    <div class="docs-panel">
                        <h2><ion-icon name="radio-button-on"></ion-icon> Panel de Creación de Sedes</h2>
                        <ol class="list-group list-group-flush">
                            <li class="list-group-item">1. Seleccione el boton de Accesar para rellenar la informacion. Ej. =>
                                <button class="btn btn-outline-info">Accesar</button>
                            </li>
                            <li class="list-group-item">2. Llene los siguientes campos: 
                                <img src="./assets/sedes.png" class="card-img-top" alt="img">
                            </li>
                            <li class="list-group-item">3. Confirmar con la persona encargada la cantidad correcta de salones.</li>
                            <li class="list-group-item">4. Digitar la dirección exacta de la sede.</li>
                            <li class="list-group-item">5. Presionar el botón de Enviar. Ej. => <button class="btn btn-outline-info">Enviar</button></li>
                        </ol>
                    </div>
                </div>
                <div class="tab-pane fade" id="user" role="tabpanel" aria-labelledby="user-tab">
                    <div class="docs-panel">
                        <h2><ion-icon name="radio-button-on"></ion-icon> Panel de Creación de Usuarios</h2>
                        <ol class="list-group list-group-flush">
                            <li class="list-group-item">1. Seleccione el boton de Accesar para rellenar la informacion. Ej. =>
                                <button class="btn btn-outline-info">Accesar</button>
                            </li>
                            <li class="list-group-item">2. Llene los siguientes campos: 
                                <img src="./assets/usuario.png" class="card-img-top" alt="img">
                            </li>
                            <li class="list-group-item">3. Confirmar que todos los campos estén correctos.</li>
                            <li class="list-group-item">4. Seleccionar el Rol (Nivel de Acceso/Seguridad) del usuario.</li>
                            <li class="list-group-item">5. Presionar el botón de Enviar. Ej. => <button class="btn btn-outline-info">Enviar</button></li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br>
    <footer class="page-footer font-small bg-light">
        <div class="footer-copyright text-center py-3">Interfaz Administrativa 2020 &copy; | Documentación</a>
        </div>
    </footer>
    <script src="https://unpkg.com/ionicons@4.5.10-0/dist/ionicons.js"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
  </body>
</html>