<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="/styles/dashboard.css">
    <title>Panel de Creacion de Eventos</title>
  </head>  
  <body>
   <nav class="navbar navbar-light bg-light">
        <a href="dashboard.html"><ion-icon class="arrows" name="arrow-back"></ion-icon>Volver</a>
        <a class="navbar-brand" href="#">
          Crear Locacion | <%= user %>
        </a>
        <a href="docs.html">Ver Documentacion<ion-icon class="arrows" name="arrow-forward"></ion-icon></a>
    </nav>
  <div class="card" style="padding: 20px;">
                      <form>
                        <h4 style="text-align: center;">Locaciones</h4>
                        <hr>
                        <div class="form-group col-md-6">
                            <label>Nombre</label>
                            <input required type="text" name="diamanteNombre" class="form-control" placeholder="Piscina Central">
                        </div>
                    <div class="form-group col-md-2">
                        <label for="inputState">Asignar a sede:</label>
                        <select required id="inputState" name="asignado" class="form-control">
                          
                        </select>
                      </div>
            </form>
      </div>
      <script>
           async function search() {
let select = document.querySelector("#inputState")
var xhttp = new XMLHttpRequest();
xhttp.onreadystatechange = function() {
    if (this.readyState == 4 && this.status == 200) {
        const parsed = JSON.parse(xhttp.response);
        var sedes = [];
        for (var i = 0; i < parsed.length; i++){
            sedes.push(parsed[i].nombre)
            console.log(sedes);
      }
      for (let elt of sedes){
          let option = document.createElement("option");
          option.text = elt;
          option.value = elt;
          select.appendChild(option);
      }
    }
  }
xhttp.open("GET", "https://api.sistemasolutions.tech/sede", true);
xhttp.send();
}
search()
      </script>
</body>
