@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');

body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

.dashboard-container {
    padding: 20px;
    margin: 10px;
}

.card-img-top {
    width: 100% / 2;
    height: 100% / 2;
}

.form-row ion-icon {
    font-size: 18px !important;
}

a {
    text-decoration: none !important;
}

.arrows ion-icon {
    padding-top: 40px !important;
}

.jumbotron {
    text-align: center !important; 
    background-image: url("./assets/background.jpg"); 
    background-size: cover;
}

.text {
    background: rgba(0, 0, 0, .6);
    color: #f2f2f2;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 100%;
}

hr.my-4 {
    border-top: white !important; 
}
